<div class="container mt-5">
    <h1>QR Code Disponibili</h1> 
    <div class="row mt-4">
        {{#if qrcodes.length}}
            {{#each qrcodes}}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">
                                <strong>URL:</strong> {{this.link}}<br>
                                <strong>Colore:</strong> {{this.color}}<br>
                                <strong>Sfondo:</strong> {{this.back}}
                            </p>
                            {{#if this.filename}}
                                <p><small>Icon: {{this.filename}}</small></p>
                            {{/if}}
                            <a href="{{this.link}}" class="btn btn-primary" target="_blank">Visita Link</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="col-12">
                <p class="text-center">Nessun QR code trovato nel database.</p>
                <p class="text-center">
                    <a href="/QR/qr" class="btn btn-primary">Crea il tuo primo QR Code</a>
                </p>
            </div>
        {{/if}}
    </div>

    <div class="row mt-3">
        <div class="col-12 text-center">
            <a href="/QR/qr" class="btn btn-success">Crea Nuovo QR Code</a>
        </div>
    </div>
</div> 